In [1]:
import pandas as pd
import numpy as np
from pydataset import data
import os
import env
import acquire as a
import prepare as p
import wrangle as w
from sklearn.model_selection import train_test_split

#Stats imports
from scipy import stats
from scipy.stats import pearsonr, spearmanr, ttest_1samp, ttest_ind, chi2_contingency
import math


#visual imports
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

# Scalers
from sklearn.preprocessing import RobustScaler
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler

# modeling method
from sklearn.cluster import KMeans
from sklearn.feature_selection import SelectKBest, f_regression
from sklearn.feature_selection import RFE
from sklearn.linear_model import LinearRegression, LassoLars, TweedieRegressor
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LogisticRegression

import requests


import warnings
warnings.filterwarnings("ignore")

# . Using the code from the lesson as a guide and the REST API from https://swapi.dev/ as we did in the lesson, create a dataframe named people that has all of the data for people.

In [2]:
# Requesting people from api
url = 'https://swapi.dev/api/people/'

response = requests.get(url)
people = response.json()
people

{'count': 82,
 'next': 'https://swapi.dev/api/people/?page=2',
 'previous': None,
 'results': [{'name': 'Luke Skywalker',
   'height': '172',
   'mass': '77',
   'hair_color': 'blond',
   'skin_color': 'fair',
   'eye_color': 'blue',
   'birth_year': '19BBY',
   'gender': 'male',
   'homeworld': 'https://swapi.dev/api/planets/1/',
   'films': ['https://swapi.dev/api/films/1/',
    'https://swapi.dev/api/films/2/',
    'https://swapi.dev/api/films/3/',
    'https://swapi.dev/api/films/6/'],
   'species': [],
   'vehicles': ['https://swapi.dev/api/vehicles/14/',
    'https://swapi.dev/api/vehicles/30/'],
   'starships': ['https://swapi.dev/api/starships/12/',
    'https://swapi.dev/api/starships/22/'],
   'created': '2014-12-09T13:50:51.644000Z',
   'edited': '2014-12-20T21:17:56.891000Z',
   'url': 'https://swapi.dev/api/people/1/'},
  {'name': 'C-3PO',
   'height': '167',
   'mass': '75',
   'hair_color': 'n/a',
   'skin_color': 'gold',
   'eye_color': 'yellow',
   'birth_year': '112BBY',
   'gender': 'n/a',
   'homeworld': 'https://swapi.dev/api/planets/1/',
   'films': ['https://swapi.dev/api/films/1/',
    'https://swapi.dev/api/films/2/',
    'https://swapi.dev/api/films/3/',
    'https://swapi.dev/api/films/4/',
    'https://swapi.dev/api/films/5/',
    'https://swapi.dev/api/films/6/'],
   'species': ['https://swapi.dev/api/species/2/'],
   'vehicles': [],
   'starships': [],
   'created': '2014-12-10T15:10:51.357000Z',
   'edited': '2014-12-20T21:17:50.309000Z',
   'url': 'https://swapi.dev/api/people/2/'},
  {'name': 'R2-D2',
   'height': '96',
   'mass': '32',
   'hair_color': 'n/a',
   'skin_color': 'white, blue',
   'eye_color': 'red',
   'birth_year': '33BBY',
   'gender': 'n/a',
   'homeworld': 'https://swapi.dev/api/planets/8/',
   'films': ['https://swapi.dev/api/films/1/',
    'https://swapi.dev/api/films/2/',
    'https://swapi.dev/api/films/3/',
    'https://swapi.dev/api/films/4/',
    'https://swapi.dev/api/films/5/',
    'https://swapi.dev/api/films/6/'],
   'species': ['https://swapi.dev/api/species/2/'],
   'vehicles': [],
   'starships': [],
   'created': '2014-12-10T15:11:50.376000Z',
   'edited': '2014-12-20T21:17:50.311000Z',
   'url': 'https://swapi.dev/api/people/3/'},
  {'name': 'Darth Vader',
   'height': '202',
   'mass': '136',
   'hair_color': 'none',
   'skin_color': 'white',
   'eye_color': 'yellow',
   'birth_year': '41.9BBY',
   'gender': 'male',
   'homeworld': 'https://swapi.dev/api/planets/1/',
   'films': ['https://swapi.dev/api/films/1/',
    'https://swapi.dev/api/films/2/',
    'https://swapi.dev/api/films/3/',
    'https://swapi.dev/api/films/6/'],
   'species': [],
   'vehicles': [],
   'starships': ['https://swapi.dev/api/starships/13/'],
   'created': '2014-12-10T15:18:20.704000Z',
   'edited': '2014-12-20T21:17:50.313000Z',
   'url': 'https://swapi.dev/api/people/4/'},
  {'name': 'Leia Organa',
   'height': '150',
   'mass': '49',
   'hair_color': 'brown',
   'skin_color': 'light',
   'eye_color': 'brown',
   'birth_year': '19BBY',
   'gender': 'female',
   'homeworld': 'https://swapi.dev/api/planets/2/',
   'films': ['https://swapi.dev/api/films/1/',
    'https://swapi.dev/api/films/2/',
    'https://swapi.dev/api/films/3/',
    'https://swapi.dev/api/films/6/'],
   'species': [],
   'vehicles': ['https://swapi.dev/api/vehicles/30/'],
   'starships': [],
   'created': '2014-12-10T15:20:09.791000Z',
   'edited': '2014-12-20T21:17:50.315000Z',
   'url': 'https://swapi.dev/api/people/5/'},
  {'name': 'Owen Lars',
   'height': '178',
   'mass': '120',
   'hair_color': 'brown, grey',
   'skin_color': 'light',
   'eye_color': 'blue',
   'birth_year': '52BBY',
   'gender': 'male',
   'homeworld': 'https://swapi.dev/api/planets/1/',
   'films': ['https://swapi.dev/api/films/1/',
    'https://swapi.dev/api/films/5/',
    'https://swapi.dev/api/films/6/'],
   'species': [],
   'vehicles': [],
   'starships': [],
   'created': '2014-12-10T15:52:14.024000Z',
   'edited': '2014-12-20T21:17:50.317000Z',
   'url': 'https://swapi.dev/api/people/6/'},
  {'name': 'Beru Whitesun lars',
   'height': '165',
   'mass': '75',
   'hair_color': 'brown',
   'skin_color': 'light',
   'eye_color': 'blue',
   'birth_year': '47BBY',
   'gender': 'female',
   'homeworld': 'https://swapi.dev/api/planets/1/',
   'films': ['https://swapi.dev/api/films/1/',
    'https://swapi.dev/api/films/5/',
    'https://swapi.dev/api/films/6/'],
   'species': [],
   'vehicles': [],
   'starships': [],
   'created': '2014-12-10T15:53:41.121000Z',
   'edited': '2014-12-20T21:17:50.319000Z',
   'url': 'https://swapi.dev/api/people/7/'},
  {'name': 'R5-D4',
   'height': '97',
   'mass': '32',
   'hair_color': 'n/a',
   'skin_color': 'white, red',
   'eye_color': 'red',
   'birth_year': 'unknown',
   'gender': 'n/a',
   'homeworld': 'https://swapi.dev/api/planets/1/',
   'films': ['https://swapi.dev/api/films/1/'],
   'species': ['https://swapi.dev/api/species/2/'],
   'vehicles': [],
   'starships': [],
   'created': '2014-12-10T15:57:50.959000Z',
   'edited': '2014-12-20T21:17:50.321000Z',
   'url': 'https://swapi.dev/api/people/8/'},
  {'name': 'Biggs Darklighter',
   'height': '183',
   'mass': '84',
   'hair_color': 'black',
   'skin_color': 'light',
   'eye_color': 'brown',
   'birth_year': '24BBY',
   'gender': 'male',
   'homeworld': 'https://swapi.dev/api/planets/1/',
   'films': ['https://swapi.dev/api/films/1/'],
   'species': [],
   'vehicles': [],
   'starships': ['https://swapi.dev/api/starships/12/'],
   'created': '2014-12-10T15:59:50.509000Z',
   'edited': '2014-12-20T21:17:50.323000Z',
   'url': 'https://swapi.dev/api/people/9/'},
  {'name': 'Obi-Wan Kenobi',
   'height': '182',
   'mass': '77',
   'hair_color': 'auburn, white',
   'skin_color': 'fair',
   'eye_color': 'blue-gray',
   'birth_year': '57BBY',
   'gender': 'male',
   'homeworld': 'https://swapi.dev/api/planets/20/',
   'films': ['https://swapi.dev/api/films/1/',
    'https://swapi.dev/api/films/2/',
    'https://swapi.dev/api/films/3/',
    'https://swapi.dev/api/films/4/',
    'https://swapi.dev/api/films/5/',
    'https://swapi.dev/api/films/6/'],
   'species': [],
   'vehicles': ['https://swapi.dev/api/vehicles/38/'],
   'starships': ['https://swapi.dev/api/starships/48/',
    'https://swapi.dev/api/starships/59/',
    'https://swapi.dev/api/starships/64/',
    'https://swapi.dev/api/starships/65/',
    'https://swapi.dev/api/starships/74/'],
   'created': '2014-12-10T16:16:29.192000Z',
   'edited': '2014-12-20T21:17:50.325000Z',
   'url': 'https://swapi.dev/api/people/10/'}]}

In [3]:
# Keys for dictionary
people.keys()

dict_keys(['count', 'next', 'previous', 'results'])

In [4]:
# Number of people
print(people['count'])

# results per page
len(people['results'])

82

10

In [5]:
# Divide people by results per page

results_per_page = len(people['results'])
count = people['count']

# Max paged
math.ceil(count/results_per_page)

9

In [6]:
names = []
height = []
hair = []
skin = []
eye = []
byear = []

for i in range(1,10):
    
    url = 'https://swapi.dev/api/people/'
    
    next_url = url + f'{i}/'
    
    response = requests.get(next_url)
    
    results = response.json()
    
    names.append(results['name'])
    
    height.append(results['height'])
    
    hair.append(results['hair_color'])
    
    skin.append(results['skin_color'])
    
    eye.append(results['eye_color'])
    
    byear.append(results['birth_year'])
    
len(names), len(height),len(hair),len(skin),len(eye),len(byear)

(9, 9, 9, 9, 9, 9)

In [7]:
peoples = pd.DataFrame({'name': names,
             'height': height,
             'hair_color': hair,
             'skin_color': skin,
             'eye_color': eye,
             'birth_year': byear})

In [8]:
people_df = pd.DataFrame(people['results'])

In [9]:
people_df.head(3)

,name,height,mass,hair_color,skin_color,eye_color,birth_year,gender,homeworld,films,species,vehicles,starships,created,edited,url
0,Luke Skywalker,172,77,blond,fair,blue,19BBY,male,https://swapi.dev/api/planets/1/,"[https://swapi.dev/api/films/1/, https://swapi.dev/api/films/2/, https://swapi.dev/api...",[],"[https://swapi.dev/api/vehicles/14/, https://swapi.dev/api/vehicles/30/]","[https://swapi.dev/api/starships/12/, https://swapi.dev/api/starships/22/]",2014-12-09T13:50:51.644000Z,2014-12-20T21:17:56.891000Z,https://swapi.dev/api/people/1/
1,C-3PO,167,75,n/a,gold,yellow,112BBY,n/a,https://swapi.dev/api/planets/1/,"[https://swapi.dev/api/films/1/, https://swapi.dev/api/films/2/, https://swapi.dev/api...",[https://swapi.dev/api/species/2/],[],[],2014-12-10T15:10:51.357000Z,2014-12-20T21:17:50.309000Z,https://swapi.dev/api/people/2/
2,R2-D2,96,32,n/a,"white, blue",red,33BBY,n/a,https://swapi.dev/api/planets/8/,"[https://swapi.dev/api/films/1/, https://swapi.dev/api/films/2/, https://swapi.dev/api...",[https://swapi.dev/api/species/2/],[],[],2014-12-10T15:11:50.376000Z,2014-12-20T21:17:50.311000Z,https://swapi.dev/api/people/3/

# . Do the same thing, but for planets.

In [10]:
url = 'https://swapi.dev/api/'
response = requests.get(url)
response

In [11]:
response.json()

{'people': 'https://swapi.dev/api/people/',
 'planets': 'https://swapi.dev/api/planets/',
 'films': 'https://swapi.dev/api/films/',
 'species': 'https://swapi.dev/api/species/',
 'vehicles': 'https://swapi.dev/api/vehicles/',
 'starships': 'https://swapi.dev/api/starships/'}

In [12]:
# Retrieve planet data
url = 'https://swapi.dev/api/planets/'
response = requests.get(url)
response

In [13]:
# JSON data
planets = response.json()
planets

{'count': 60,
 'next': 'https://swapi.dev/api/planets/?page=2',
 'previous': None,
 'results': [{'name': 'Tatooine',
   'rotation_period': '23',
   'orbital_period': '304',
   'diameter': '10465',
   'climate': 'arid',
   'gravity': '1 standard',
   'terrain': 'desert',
   'surface_water': '1',
   'population': '200000',
   'residents': ['https://swapi.dev/api/people/1/',
    'https://swapi.dev/api/people/2/',
    'https://swapi.dev/api/people/4/',
    'https://swapi.dev/api/people/6/',
    'https://swapi.dev/api/people/7/',
    'https://swapi.dev/api/people/8/',
    'https://swapi.dev/api/people/9/',
    'https://swapi.dev/api/people/11/',
    'https://swapi.dev/api/people/43/',
    'https://swapi.dev/api/people/62/'],
   'films': ['https://swapi.dev/api/films/1/',
    'https://swapi.dev/api/films/3/',
    'https://swapi.dev/api/films/4/',
    'https://swapi.dev/api/films/5/',
    'https://swapi.dev/api/films/6/'],
   'created': '2014-12-09T13:50:49.641000Z',
   'edited': '2014-12-20T20:58:18.411000Z',
   'url': 'https://swapi.dev/api/planets/1/'},
  {'name': 'Alderaan',
   'rotation_period': '24',
   'orbital_period': '364',
   'diameter': '12500',
   'climate': 'temperate',
   'gravity': '1 standard',
   'terrain': 'grasslands, mountains',
   'surface_water': '40',
   'population': '2000000000',
   'residents': ['https://swapi.dev/api/people/5/',
    'https://swapi.dev/api/people/68/',
    'https://swapi.dev/api/people/81/'],
   'films': ['https://swapi.dev/api/films/1/',
    'https://swapi.dev/api/films/6/'],
   'created': '2014-12-10T11:35:48.479000Z',
   'edited': '2014-12-20T20:58:18.420000Z',
   'url': 'https://swapi.dev/api/planets/2/'},
  {'name': 'Yavin IV',
   'rotation_period': '24',
   'orbital_period': '4818',
   'diameter': '10200',
   'climate': 'temperate, tropical',
   'gravity': '1 standard',
   'terrain': 'jungle, rainforests',
   'surface_water': '8',
   'population': '1000',
   'residents': [],
   'films': ['https://swapi.dev/api/films/1/'],
   'created': '2014-12-10T11:37:19.144000Z',
   'edited': '2014-12-20T20:58:18.421000Z',
   'url': 'https://swapi.dev/api/planets/3/'},
  {'name': 'Hoth',
   'rotation_period': '23',
   'orbital_period': '549',
   'diameter': '7200',
   'climate': 'frozen',
   'gravity': '1.1 standard',
   'terrain': 'tundra, ice caves, mountain ranges',
   'surface_water': '100',
   'population': 'unknown',
   'residents': [],
   'films': ['https://swapi.dev/api/films/2/'],
   'created': '2014-12-10T11:39:13.934000Z',
   'edited': '2014-12-20T20:58:18.423000Z',
   'url': 'https://swapi.dev/api/planets/4/'},
  {'name': 'Dagobah',
   'rotation_period': '23',
   'orbital_period': '341',
   'diameter': '8900',
   'climate': 'murky',
   'gravity': 'N/A',
   'terrain': 'swamp, jungles',
   'surface_water': '8',
   'population': 'unknown',
   'residents': [],
   'films': ['https://swapi.dev/api/films/2/',
    'https://swapi.dev/api/films/3/',
    'https://swapi.dev/api/films/6/'],
   'created': '2014-12-10T11:42:22.590000Z',
   'edited': '2014-12-20T20:58:18.425000Z',
   'url': 'https://swapi.dev/api/planets/5/'},
  {'name': 'Bespin',
   'rotation_period': '12',
   'orbital_period': '5110',
   'diameter': '118000',
   'climate': 'temperate',
   'gravity': '1.5 (surface), 1 standard (Cloud City)',
   'terrain': 'gas giant',
   'surface_water': '0',
   'population': '6000000',
   'residents': ['https://swapi.dev/api/people/26/'],
   'films': ['https://swapi.dev/api/films/2/'],
   'created': '2014-12-10T11:43:55.240000Z',
   'edited': '2014-12-20T20:58:18.427000Z',
   'url': 'https://swapi.dev/api/planets/6/'},
  {'name': 'Endor',
   'rotation_period': '18',
   'orbital_period': '402',
   'diameter': '4900',
   'climate': 'temperate',
   'gravity': '0.85 standard',
   'terrain': 'forests, mountains, lakes',
   'surface_water': '8',
   'population': '30000000',
   'residents': ['https://swapi.dev/api/people/30/'],
   'films': ['https://swapi.dev/api/films/3/'],
   'created': '2014-12-10T11:50:29.349000Z',
   'edited': '2014-12-20T20:58:18.429000Z',
   'url': 'https://swapi.dev/api/planets/7/'},
  {'name': 'Naboo',
   'rotation_period': '26',
   'orbital_period': '312',
   'diameter': '12120',
   'climate': 'temperate',
   'gravity': '1 standard',
   'terrain': 'grassy hills, swamps, forests, mountains',
   'surface_water': '12',
   'population': '4500000000',
   'residents': ['https://swapi.dev/api/people/3/',
    'https://swapi.dev/api/people/21/',
    'https://swapi.dev/api/people/35/',
    'https://swapi.dev/api/people/36/',
    'https://swapi.dev/api/people/37/',
    'https://swapi.dev/api/people/38/',
    'https://swapi.dev/api/people/39/',
    'https://swapi.dev/api/people/42/',
    'https://swapi.dev/api/people/60/',
    'https://swapi.dev/api/people/61/',
    'https://swapi.dev/api/people/66/'],
   'films': ['https://swapi.dev/api/films/3/',
    'https://swapi.dev/api/films/4/',
    'https://swapi.dev/api/films/5/',
    'https://swapi.dev/api/films/6/'],
   'created': '2014-12-10T11:52:31.066000Z',
   'edited': '2014-12-20T20:58:18.430000Z',
   'url': 'https://swapi.dev/api/planets/8/'},
  {'name': 'Coruscant',
   'rotation_period': '24',
   'orbital_period': '368',
   'diameter': '12240',
   'climate': 'temperate',
   'gravity': '1 standard',
   'terrain': 'cityscape, mountains',
   'surface_water': 'unknown',
   'population': '1000000000000',
   'residents': ['https://swapi.dev/api/people/34/',
    'https://swapi.dev/api/people/55/',
    'https://swapi.dev/api/people/74/'],
   'films': ['https://swapi.dev/api/films/3/',
    'https://swapi.dev/api/films/4/',
    'https://swapi.dev/api/films/5/',
    'https://swapi.dev/api/films/6/'],
   'created': '2014-12-10T11:54:13.921000Z',
   'edited': '2014-12-20T20:58:18.432000Z',
   'url': 'https://swapi.dev/api/planets/9/'},
  {'name': 'Kamino',
   'rotation_period': '27',
   'orbital_period': '463',
   'diameter': '19720',
   'climate': 'temperate',
   'gravity': '1 standard',
   'terrain': 'ocean',
   'surface_water': '100',
   'population': '1000000000',
   'residents': ['https://swapi.dev/api/people/22/',
    'https://swapi.dev/api/people/72/',
    'https://swapi.dev/api/people/73/'],
   'films': ['https://swapi.dev/api/films/5/'],
   'created': '2014-12-10T12:45:06.577000Z',
   'edited': '2014-12-20T20:58:18.434000Z',
   'url': 'https://swapi.dev/api/planets/10/'}]}

In [14]:
planets.keys()

dict_keys(['count', 'next', 'previous', 'results'])

In [15]:
# number of planets
num_planets = planets['count']

# planets per page
num_results = len(planets['results'])

In [16]:
# Max pages
math.ceil(num_planets/num_results)

6

In [17]:
planets_list = []

for i in range(1,7):
    
    url = 'https://swapi.dev/api/planets/'
    
    next_url = url + f'{i}/'
    
    response = requests.get(next_url)
    
    results = response.json()
    
    planets_list.append(results['name'])

len(planets)

4

In [18]:
# Dataframe of planets
planet_names = pd.DataFrame({'planet': planets_list})
planet_names.head()

     planet
0  Tatooine
1  Alderaan
2  Yavin IV
3      Hoth
4   Dagobah

In [19]:
planets_df = pd.DataFrame(planets['results'])
planets_df.head()

,name,rotation_period,orbital_period,diameter,climate,gravity,terrain,surface_water,population,residents,films,created,edited,url
0,Tatooine,23,304,10465,arid,1 standard,desert,1,200000,"[https://swapi.dev/api/people/1/, https://swapi.dev/api/people/2/, https://swapi.dev/a...","[https://swapi.dev/api/films/1/, https://swapi.dev/api/films/3/, https://swapi.dev/api...",2014-12-09T13:50:49.641000Z,2014-12-20T20:58:18.411000Z,https://swapi.dev/api/planets/1/
1,Alderaan,24,364,12500,temperate,1 standard,"grasslands, mountains",40,2000000000,"[https://swapi.dev/api/people/5/, https://swapi.dev/api/people/68/, https://swapi.dev/...","[https://swapi.dev/api/films/1/, https://swapi.dev/api/films/6/]",2014-12-10T11:35:48.479000Z,2014-12-20T20:58:18.420000Z,https://swapi.dev/api/planets/2/
2,Yavin IV,24,4818,10200,"temperate, tropical",1 standard,"jungle, rainforests",8,1000,[],[https://swapi.dev/api/films/1/],2014-12-10T11:37:19.144000Z,2014-12-20T20:58:18.421000Z,https://swapi.dev/api/planets/3/
3,Hoth,23,549,7200,frozen,1.1 standard,"tundra, ice caves, mountain ranges",100,unknown,[],[https://swapi.dev/api/films/2/],2014-12-10T11:39:13.934000Z,2014-12-20T20:58:18.423000Z,https://swapi.dev/api/planets/4/
4,Dagobah,23,341,8900,murky,N/A,"swamp, jungles",8,unknown,[],"[https://swapi.dev/api/films/2/, https://swapi.dev/api/films/3/, https://swapi.dev/api...",2014-12-10T11:42:22.590000Z,2014-12-20T20:58:18.425000Z,https://swapi.dev/api/planets/5/

# . Extract the data for starships.

In [20]:
url = 'https://swapi.dev/api/starships/'
response = requests.get(url)
response

In [21]:
starships = response.json()
starships

{'count': 36,
 'next': 'https://swapi.dev/api/starships/?page=2',
 'previous': None,
 'results': [{'name': 'CR90 corvette',
   'model': 'CR90 corvette',
   'manufacturer': 'Corellian Engineering Corporation',
   'cost_in_credits': '3500000',
   'length': '150',
   'max_atmosphering_speed': '950',
   'crew': '30-165',
   'passengers': '600',
   'cargo_capacity': '3000000',
   'consumables': '1 year',
   'hyperdrive_rating': '2.0',
   'MGLT': '60',
   'starship_class': 'corvette',
   'pilots': [],
   'films': ['https://swapi.dev/api/films/1/',
    'https://swapi.dev/api/films/3/',
    'https://swapi.dev/api/films/6/'],
   'created': '2014-12-10T14:20:33.369000Z',
   'edited': '2014-12-20T21:23:49.867000Z',
   'url': 'https://swapi.dev/api/starships/2/'},
  {'name': 'Star Destroyer',
   'model': 'Imperial I-class Star Destroyer',
   'manufacturer': 'Kuat Drive Yards',
   'cost_in_credits': '150000000',
   'length': '1,600',
   'max_atmosphering_speed': '975',
   'crew': '47,060',
   'passengers': 'n/a',
   'cargo_capacity': '36000000',
   'consumables': '2 years',
   'hyperdrive_rating': '2.0',
   'MGLT': '60',
   'starship_class': 'Star Destroyer',
   'pilots': [],
   'films': ['https://swapi.dev/api/films/1/',
    'https://swapi.dev/api/films/2/',
    'https://swapi.dev/api/films/3/'],
   'created': '2014-12-10T15:08:19.848000Z',
   'edited': '2014-12-20T21:23:49.870000Z',
   'url': 'https://swapi.dev/api/starships/3/'},
  {'name': 'Sentinel-class landing craft',
   'model': 'Sentinel-class landing craft',
   'manufacturer': 'Sienar Fleet Systems, Cyngus Spaceworks',
   'cost_in_credits': '240000',
   'length': '38',
   'max_atmosphering_speed': '1000',
   'crew': '5',
   'passengers': '75',
   'cargo_capacity': '180000',
   'consumables': '1 month',
   'hyperdrive_rating': '1.0',
   'MGLT': '70',
   'starship_class': 'landing craft',
   'pilots': [],
   'films': ['https://swapi.dev/api/films/1/'],
   'created': '2014-12-10T15:48:00.586000Z',
   'edited': '2014-12-20T21:23:49.873000Z',
   'url': 'https://swapi.dev/api/starships/5/'},
  {'name': 'Death Star',
   'model': 'DS-1 Orbital Battle Station',
   'manufacturer': 'Imperial Department of Military Research, Sienar Fleet Systems',
   'cost_in_credits': '1000000000000',
   'length': '120000',
   'max_atmosphering_speed': 'n/a',
   'crew': '342,953',
   'passengers': '843,342',
   'cargo_capacity': '1000000000000',
   'consumables': '3 years',
   'hyperdrive_rating': '4.0',
   'MGLT': '10',
   'starship_class': 'Deep Space Mobile Battlestation',
   'pilots': [],
   'films': ['https://swapi.dev/api/films/1/'],
   'created': '2014-12-10T16:36:50.509000Z',
   'edited': '2014-12-20T21:26:24.783000Z',
   'url': 'https://swapi.dev/api/starships/9/'},
  {'name': 'Millennium Falcon',
   'model': 'YT-1300 light freighter',
   'manufacturer': 'Corellian Engineering Corporation',
   'cost_in_credits': '100000',
   'length': '34.37',
   'max_atmosphering_speed': '1050',
   'crew': '4',
   'passengers': '6',
   'cargo_capacity': '100000',
   'consumables': '2 months',
   'hyperdrive_rating': '0.5',
   'MGLT': '75',
   'starship_class': 'Light freighter',
   'pilots': ['https://swapi.dev/api/people/13/',
    'https://swapi.dev/api/people/14/',
    'https://swapi.dev/api/people/25/',
    'https://swapi.dev/api/people/31/'],
   'films': ['https://swapi.dev/api/films/1/',
    'https://swapi.dev/api/films/2/',
    'https://swapi.dev/api/films/3/'],
   'created': '2014-12-10T16:59:45.094000Z',
   'edited': '2014-12-20T21:23:49.880000Z',
   'url': 'https://swapi.dev/api/starships/10/'},
  {'name': 'Y-wing',
   'model': 'BTL Y-wing',
   'manufacturer': 'Koensayr Manufacturing',
   'cost_in_credits': '134999',
   'length': '14',
   'max_atmosphering_speed': '1000km',
   'crew': '2',
   'passengers': '0',
   'cargo_capacity': '110',
   'consumables': '1 week',
   'hyperdrive_rating': '1.0',
   'MGLT': '80',
   'starship_class': 'assault starfighter',
   'pilots': [],
   'films': ['https://swapi.dev/api/films/1/',
    'https://swapi.dev/api/films/2/',
    'https://swapi.dev/api/films/3/'],
   'created': '2014-12-12T11:00:39.817000Z',
   'edited': '2014-12-20T21:23:49.883000Z',
   'url': 'https://swapi.dev/api/starships/11/'},
  {'name': 'X-wing',
   'model': 'T-65 X-wing',
   'manufacturer': 'Incom Corporation',
   'cost_in_credits': '149999',
   'length': '12.5',
   'max_atmosphering_speed': '1050',
   'crew': '1',
   'passengers': '0',
   'cargo_capacity': '110',
   'consumables': '1 week',
   'hyperdrive_rating': '1.0',
   'MGLT': '100',
   'starship_class': 'Starfighter',
   'pilots': ['https://swapi.dev/api/people/1/',
    'https://swapi.dev/api/people/9/',
    'https://swapi.dev/api/people/18/',
    'https://swapi.dev/api/people/19/'],
   'films': ['https://swapi.dev/api/films/1/',
    'https://swapi.dev/api/films/2/',
    'https://swapi.dev/api/films/3/'],
   'created': '2014-12-12T11:19:05.340000Z',
   'edited': '2014-12-20T21:23:49.886000Z',
   'url': 'https://swapi.dev/api/starships/12/'},
  {'name': 'TIE Advanced x1',
   'model': 'Twin Ion Engine Advanced x1',
   'manufacturer': 'Sienar Fleet Systems',
   'cost_in_credits': 'unknown',
   'length': '9.2',
   'max_atmosphering_speed': '1200',
   'crew': '1',
   'passengers': '0',
   'cargo_capacity': '150',
   'consumables': '5 days',
   'hyperdrive_rating': '1.0',
   'MGLT': '105',
   'starship_class': 'Starfighter',
   'pilots': ['https://swapi.dev/api/people/4/'],
   'films': ['https://swapi.dev/api/films/1/'],
   'created': '2014-12-12T11:21:32.991000Z',
   'edited': '2014-12-20T21:23:49.889000Z',
   'url': 'https://swapi.dev/api/starships/13/'},
  {'name': 'Executor',
   'model': 'Executor-class star dreadnought',
   'manufacturer': 'Kuat Drive Yards, Fondor Shipyards',
   'cost_in_credits': '1143350000',
   'length': '19000',
   'max_atmosphering_speed': 'n/a',
   'crew': '279,144',
   'passengers': '38000',
   'cargo_capacity': '250000000',
   'consumables': '6 years',
   'hyperdrive_rating': '2.0',
   'MGLT': '40',
   'starship_class': 'Star dreadnought',
   'pilots': [],
   'films': ['https://swapi.dev/api/films/2/',
    'https://swapi.dev/api/films/3/'],
   'created': '2014-12-15T12:31:42.547000Z',
   'edited': '2014-12-20T21:23:49.893000Z',
   'url': 'https://swapi.dev/api/starships/15/'},
  {'name': 'Rebel transport',
   'model': 'GR-75 medium transport',
   'manufacturer': 'Gallofree Yards, Inc.',
   'cost_in_credits': 'unknown',
   'length': '90',
   'max_atmosphering_speed': '650',
   'crew': '6',
   'passengers': '90',
   'cargo_capacity': '19000000',
   'consumables': '6 months',
   'hyperdrive_rating': '4.0',
   'MGLT': '20',
   'starship_class': 'Medium transport',
   'pilots': [],
   'films': ['https://swapi.dev/api/films/2/',
    'https://swapi.dev/api/films/3/'],
   'created': '2014-12-15T12:34:52.264000Z',
   'edited': '2014-12-20T21:23:49.895000Z',
   'url': 'https://swapi.dev/api/starships/17/'}]}

In [22]:
# number of ships
num_starships = starships['count']

# results per page
num_results = len(starships['results'])

num_starships, num_results

(36, 10)

In [23]:
# max pages
math.ceil(num_starships/ num_results)

4

In [24]:
starships_df = pd.DataFrame(starships['results'])

In [25]:
people_df.head(3)

,name,height,mass,hair_color,skin_color,eye_color,birth_year,gender,homeworld,films,species,vehicles,starships,created,edited,url
0,Luke Skywalker,172,77,blond,fair,blue,19BBY,male,https://swapi.dev/api/planets/1/,"[https://swapi.dev/api/films/1/, https://swapi.dev/api/films/2/, https://swapi.dev/api...",[],"[https://swapi.dev/api/vehicles/14/, https://swapi.dev/api/vehicles/30/]","[https://swapi.dev/api/starships/12/, https://swapi.dev/api/starships/22/]",2014-12-09T13:50:51.644000Z,2014-12-20T21:17:56.891000Z,https://swapi.dev/api/people/1/
1,C-3PO,167,75,n/a,gold,yellow,112BBY,n/a,https://swapi.dev/api/planets/1/,"[https://swapi.dev/api/films/1/, https://swapi.dev/api/films/2/, https://swapi.dev/api...",[https://swapi.dev/api/species/2/],[],[],2014-12-10T15:10:51.357000Z,2014-12-20T21:17:50.309000Z,https://swapi.dev/api/people/2/
2,R2-D2,96,32,n/a,"white, blue",red,33BBY,n/a,https://swapi.dev/api/planets/8/,"[https://swapi.dev/api/films/1/, https://swapi.dev/api/films/2/, https://swapi.dev/api...",[https://swapi.dev/api/species/2/],[],[],2014-12-10T15:11:50.376000Z,2014-12-20T21:17:50.311000Z,https://swapi.dev/api/people/3/

In [26]:
planets_df.head(3)

,name,rotation_period,orbital_period,diameter,climate,gravity,terrain,surface_water,population,residents,films,created,edited,url
0,Tatooine,23,304,10465,arid,1 standard,desert,1,200000,"[https://swapi.dev/api/people/1/, https://swapi.dev/api/people/2/, https://swapi.dev/a...","[https://swapi.dev/api/films/1/, https://swapi.dev/api/films/3/, https://swapi.dev/api...",2014-12-09T13:50:49.641000Z,2014-12-20T20:58:18.411000Z,https://swapi.dev/api/planets/1/
1,Alderaan,24,364,12500,temperate,1 standard,"grasslands, mountains",40,2000000000,"[https://swapi.dev/api/people/5/, https://swapi.dev/api/people/68/, https://swapi.dev/...","[https://swapi.dev/api/films/1/, https://swapi.dev/api/films/6/]",2014-12-10T11:35:48.479000Z,2014-12-20T20:58:18.420000Z,https://swapi.dev/api/planets/2/
2,Yavin IV,24,4818,10200,"temperate, tropical",1 standard,"jungle, rainforests",8,1000,[],[https://swapi.dev/api/films/1/],2014-12-10T11:37:19.144000Z,2014-12-20T20:58:18.421000Z,https://swapi.dev/api/planets/3/

In [27]:
starships_df.head(3)

,name,model,manufacturer,cost_in_credits,length,max_atmosphering_speed,crew,passengers,cargo_capacity,consumables,hyperdrive_rating,MGLT,starship_class,pilots,films,created,edited,url
0,CR90 corvette,CR90 corvette,Corellian Engineering Corporation,3500000,150,950,30-165,600,3000000,1 year,2.0,60,corvette,[],"[https://swapi.dev/api/films/1/, https://swapi.dev/api/films/3/, https://swapi.dev/api...",2014-12-10T14:20:33.369000Z,2014-12-20T21:23:49.867000Z,https://swapi.dev/api/starships/2/
1,Star Destroyer,Imperial I-class Star Destroyer,Kuat Drive Yards,150000000,"1,600",975,"47,060",n/a,36000000,2 years,2.0,60,Star Destroyer,[],"[https://swapi.dev/api/films/1/, https://swapi.dev/api/films/2/, https://swapi.dev/api...",2014-12-10T15:08:19.848000Z,2014-12-20T21:23:49.870000Z,https://swapi.dev/api/starships/3/
2,Sentinel-class landing craft,Sentinel-class landing craft,"Sienar Fleet Systems, Cyngus Spaceworks",240000,38,1000,5,75,180000,1 month,1.0,70,landing craft,[],[https://swapi.dev/api/films/1/],2014-12-10T15:48:00.586000Z,2014-12-20T21:23:49.873000Z,https://swapi.dev/api/starships/5/

# . Save the data in your files to local csv files so that it will be faster to access in the future.

In [28]:
people_df.to_csv('people.csv')

In [29]:
planets_df.to_csv('planets.csv')

In [30]:
starships_df.to_csv('starships.csv')

# . Combine the data from your three separate dataframes into one large dataframe.

In [31]:
people_df.head(3)

,name,height,mass,hair_color,skin_color,eye_color,birth_year,gender,homeworld,films,species,vehicles,starships,created,edited,url
0,Luke Skywalker,172,77,blond,fair,blue,19BBY,male,https://swapi.dev/api/planets/1/,"[https://swapi.dev/api/films/1/, https://swapi.dev/api/films/2/, https://swapi.dev/api...",[],"[https://swapi.dev/api/vehicles/14/, https://swapi.dev/api/vehicles/30/]","[https://swapi.dev/api/starships/12/, https://swapi.dev/api/starships/22/]",2014-12-09T13:50:51.644000Z,2014-12-20T21:17:56.891000Z,https://swapi.dev/api/people/1/
1,C-3PO,167,75,n/a,gold,yellow,112BBY,n/a,https://swapi.dev/api/planets/1/,"[https://swapi.dev/api/films/1/, https://swapi.dev/api/films/2/, https://swapi.dev/api...",[https://swapi.dev/api/species/2/],[],[],2014-12-10T15:10:51.357000Z,2014-12-20T21:17:50.309000Z,https://swapi.dev/api/people/2/
2,R2-D2,96,32,n/a,"white, blue",red,33BBY,n/a,https://swapi.dev/api/planets/8/,"[https://swapi.dev/api/films/1/, https://swapi.dev/api/films/2/, https://swapi.dev/api...",[https://swapi.dev/api/species/2/],[],[],2014-12-10T15:11:50.376000Z,2014-12-20T21:17:50.311000Z,https://swapi.dev/api/people/3/

In [32]:
never_again = pd.concat([people_df, planets_df, starships_df], axis=0)
never_again.head()

,name,height,mass,hair_color,skin_color,eye_color,birth_year,gender,homeworld,films,...,length,max_atmosphering_speed,crew,passengers,cargo_capacity,consumables,hyperdrive_rating,MGLT,starship_class,pilots
0,Luke Skywalker,172,77,blond,fair,blue,19BBY,male,https://swapi.dev/api/planets/1/,"[https://swapi.dev/api/films/1/, https://swapi.dev/api/films/2/, https://swapi.dev/api...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,C-3PO,167,75,n/a,gold,yellow,112BBY,n/a,https://swapi.dev/api/planets/1/,"[https://swapi.dev/api/films/1/, https://swapi.dev/api/films/2/, https://swapi.dev/api...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,R2-D2,96,32,n/a,"white, blue",red,33BBY,n/a,https://swapi.dev/api/planets/8/,"[https://swapi.dev/api/films/1/, https://swapi.dev/api/films/2/, https://swapi.dev/api...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Darth Vader,202,136,none,white,yellow,41.9BBY,male,https://swapi.dev/api/planets/1/,"[https://swapi.dev/api/films/1/, https://swapi.dev/api/films/2/, https://swapi.dev/api...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Leia Organa,150,49,brown,light,brown,19BBY,female,https://swapi.dev/api/planets/2/,"[https://swapi.dev/api/films/1/, https://swapi.dev/api/films/2/, https://swapi.dev/api...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# . Acquire the Open Power Systems Data for Germany, which has been rapidly expanding its renewable energy production in recent years. The data set includes country-wide totals of electricity consumption, wind power production, and solar power production for 2006-2017. You can get the data here: https://raw.githubusercontent.com/jenfly/opsd/master/opsd_germany_daily.csv

In [33]:
energy = pd.read_csv('https://raw.githubusercontent.com/jenfly/opsd/master/opsd_germany_daily.csv')
energy.head(3)

         Date  Consumption  Wind  Solar  Wind+Solar
0  2006-01-01     1069.184   NaN    NaN         NaN
1  2006-01-02     1380.521   NaN    NaN         NaN
2  2006-01-03     1442.533   NaN    NaN         NaN

# . Make sure all the work that you have done above is reproducible. That is, you should put the code above into separate functions in the acquire.py file and be able to re-run the functions and get the same data.

In [34]:
def star_wars_api(url):
    
    '''
    Intakes a url string and request data. Then Turns data into a JSON, which is then
    coverted into a dataframe. Dataframe returned. 
    URLs: 'https://swapi.dev/api/planets/'
          'https://swapi.dev/api/people/'
          'https://swapi.dev/api/starships/'
    '''
    
    # URLs: 'https://swapi.dev/api/planets/', 
    
    # Retrieve data
    response = requests.get(url)
    
    # Covert to JSON
    data = response.json()
    
    # Covert to dataframe
    df = pd.DataFrame(data['results'])
    
    while data['next'] != None:
        response = requests.get(data['next'])
        df2 = response.json()
        df2 = pd.DataFrame(df2['results'])
        df = pd.concat([df, df2], axis=0)
        
    return df

In [ ]:
function_test = a.star_wars_api('https://swapi.dev/api/planets/')